body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: white;
  background-color: 	blue }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
.fst {margin: 32}
	#header
			{
			margin-bottom: 10px;
			background-color: red
			}
	#cont1
			{
			float: left;
			width: 25%;
			margin-left: 5%;
			display: inline;
			background-color:limegreen
			}
	#footer
			{
			clear: both;
			background-color:crimson;
			float: right
			} 
	#textId 
			{
			color:white; 
			font-size:8;
			margin-left:4px;
			margin-right:5px;
			}
	#cont2
			{
			float: right;
			width: 60%;
			display: inline;
			background-color:purple
			}
	#cont3
			{
			float: left;
			width:5%;
			margin-left: 1%;
			display: inline;
			background-color:red
			}