body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: white;
  background-color: 	blue }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
.fst {margin: 32}
	#header
			{
			margin-bottom: 10px;
			background-color: orange
			}
	#cont1
			{
			float: left;
			width: 25%;
			margin-left: 5%;
			display: inline;
			background-color: crimson
			}
	#footer
			{
			clear: both;
			background-color:yellow;
			float: right
			} 
	#textId 
			{
			color:blue; 
			font-size:8;
			margin-left:4px;
			margin-right:5px;
			}
	#cont2
			{
			float: right;
			width: 60%;
			display: inline;
			background-color:darkgreen
			}
	#cont3
			{
			float: left;
			width:5%;
			margin-left: 1%;
			display: inline;
			background-color: dark blue
			}
					body {font-family: Arial, Helvetica, sans-serif;}
		* {box-sizing: border-box;}

		input[type=text], select, textarea {
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
		}

		input[type=submit] {
		  background-color: #4CAF50;
		  color: white;
		  padding: 12px 20px;
		  border: none;
		  border-radius: 4px;
		  cursor: pointer;
		}

		input[type=submit]:hover {
		  background-color: #45a049;
		}

		.container {
		  border-radius: 5px;
		  background-color: #f2f2f2;
		  padding: 20px;
		}